@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body{
    background-color: grey;
    background-repeat: no-repeat;
}

.letra8bits{
    font-family: "Pixelify Sans", sans-serif;
    font-style: 3rem;
}

.vertical-navbar {
    min-height: 100vh; /* Ocupa toda la altura de la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente los elementos */
    align-items: center; /* Centra horizontalmente los elementos */
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea las opciones de navegación en el centro */
    width: 100%;
}
.nav-link {
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {
    margin-right: 0 !important;
    margin-bottom: 40px; /* Separa el título del menú */
    text-align: center;
    padding: 0;
}
.nav-item{
    border: solid white 1px;
    width: 150px;
    margin-top: 1rem;
}

#navbar-fixed {
    top: 0;
    width: 100%;
}
  

.bg_transparent{
    --bs-bg-opacity: .5;
}

.my-3{
    font-family: "Roboto Mono", monospace;
}
